In [110]:
import numpy as np 
import pandas as pd 
#pd.set_option('float_format', '{:f}'.format)
pd.options.display.float_format = '{:,.2f}'.format
import seaborn as sns
import matplotlib.pyplot as plt

In [120]:
filename = "kickstarter-projects/ks-projects-201801.csv"
ks_df = pd.read_csv(filename)
ks_df.shape

(378661, 15)

In [121]:
ks_df = ks_df.dropna()
ks_df.shape

(374860, 15)

In [124]:
ks_df.describe()

,ID,goal,pledged,backers,usd pledged,usd_pledged_real,usd_goal_real
count,"374,860.00","374,860.00","374,860.00","374,860.00","374,860.00","374,860.00","374,860.00"
mean,"1,074,652,355.55","49,522.99","9,750.54",106.69,"7,036.80","9,120.90","45,863.03"
std,"619,136,772.59","1,189,361.60","96,010.94",911.71,"78,640.16","91,319.69","1,158,767.37"
min,"5,971.00",0.01,0.00,0.00,0.00,0.00,0.01
25%,"538,063,323.00","2,000.00",31.00,2.00,16.98,31.00,"2,000.00"
50%,"1,075,289,160.00","5,500.00",620.00,12.00,394.76,624.50,"5,500.00"
75%,"1,610,137,350.75","16,500.00","4,080.00",57.00,"3,034.43","4,050.89","16,000.00"
max,"2,147,476,221.00","100,000,000.00","20,338,986.27","219,382.00","20,338,986.27","20,338,986.27","166,361,390.71"

In [125]:
avg_goal_per_project = ks_df.groupby("ID").sum()['usd_goal_real'].mean()
avg_goal_per_project

45863.02597164258

In [126]:
avg_pledged_per_project = ks_df.groupby("ID").sum()['usd_pledged_real'].mean()
avg_pledged_per_project

9120.898548951944

In [127]:
avg_pledged_per_project / avg_goal_per_project * 100

19.88725853935468

# Spare code used in early data exploration

In [60]:
ks_df.country.unique()

array(['GB', 'US', 'CA', 'AU', 'NO', 'IT', 'DE', 'IE', 'MX', 'ES', 'N,0"',
       'SE', 'FR', 'NL', 'NZ', 'CH', 'AT', 'DK', 'BE', 'HK', 'LU', 'SG',
       'JP'], dtype=object)

In [63]:
 np.where(pd.isnull(ks_df))

(array([   169,    328,    632, ..., 378434, 378585, 378588]),
 array([12, 12, 12, ..., 12, 12, 12]))

In [68]:
ks_df.iloc[[378588]]

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
378588,999621278,Jeune auteur a besoin de vous!,Publishing,Publishing,EUR,2015-11-20,"1,600.00",2015-10-21 21:28:13,0.00,undefined,0,"N,0""",nan,0.00,"1,710.08"

In [86]:
ks_df.loc[ks_df['state'] == 'undefined'].shape

(3562, 15)

In [77]:
temp = ks_df[ks_df['usd pledged'].isnull()]

In [78]:
temp.state.unique()

array(['undefined', 'successful', 'canceled', 'failed', 'suspended',
       'live'], dtype=object)

In [88]:
temp.loc[temp['state'] != 'undefined']

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
2457,1012744036,An Oratorio for our Time - Last Stop Cafe,Music,Music,USD,2016-05-26,"5,000.00",2016-04-26 19:46:26,"5,170.00",successful,0,"N,0""",nan,"5,170.00","5,000.00"
4338,1022254171,Help OrphanSporks Record Our Fourth Album!,Music,Music,USD,2016-05-14,"2,500.00",2016-04-11 07:20:59,"1,375.00",canceled,0,"N,0""",nan,"1,375.00","2,500.00"
4892,1024989802,Jackson Ruby: The Cassette Album,Music,Music,USD,2016-05-11,"5,000.00",2016-04-11 19:29:17,"5,296.00",successful,0,"N,0""",nan,"5,296.00","5,000.00"
5353,1027275369,Help Parker Brown make his first solo album,Music,Music,USD,2016-05-21,"3,800.00",2016-04-21 16:14:28,"5,077.00",successful,0,"N,0""",nan,"5,077.00","3,800.00"
5597,1028691308,Help BETHANY record a NEW single in Nash!,Music,Music,USD,2016-05-08,"3,500.00",2016-04-04 23:32:00,"3,502.13",successful,0,"N,0""",nan,"3,502.13","3,500.00"
8260,1041708793,Serena Gabriel's first CD!!!!!!: Diving Deep,Music,Music,USD,2016-05-01,"3,500.00",2016-03-25 17:20:21,"3,787.00",successful,0,"N,0""",nan,"3,787.00","3,500.00"
10086,1050790557,"Leicester's Days of Glory, a 360º Virtual Real...",Film & Video,Film & Video,GBP,2016-05-29,"6,000.00",2016-05-15 20:55:34,0.00,failed,0,"N,0""",nan,0.00,"8,659.38"
10527,1052925597,Debut Folk / Rock Album by The Blacklist Social!,Music,Music,CAD,2016-05-20,"6,000.00",2016-04-15 01:16:42,"3,628.00",failed,0,"N,0""",nan,"2,768.20","4,578.06"
11191,1056135281,Begin My Journey in Art,Music,Music,USD,2016-04-24,"1,500.00",2016-04-19 20:05:26,1.00,failed,0,"N,0""",nan,1.00,"1,500.00"
13001,1065249597,SCiO: Your Sixth Sense. A Pocket Molecular Sen...,Hardware,Technology,USD,2014-06-15,"200,000.00",2014-04-29 17:18:03,"2,762,571.78",successful,0,"N,0""",nan,"2,762,571.78","200,000.00"
13048,1065509232,LUME Festival 2016,Music,Music,GBP,2016-05-12,"3,500.00",2016-04-11 12:42:02,"3,606.00",successful,0,"N,0""",nan,"5,195.74","5,043.01"
14385,1072430236,The Box -- A Story of Love and Loss,Publishing,Publishing,USD,2016-05-30,"4,500.00",2016-04-30 13:26:24,618.00,failed,0,"N,0""",nan,618.00,"4,500.00"
14527,1073104639,SUNN - EP - Pre-vente,Music,Music,CAD,2016-05-04,"4,000.00",2016-03-25 16:56:43,"4,051.00",successful,0,"N,0""",nan,"3,145.43","3,105.83"
16769,1084993156,"Willy Tea, Chris Doud and Chums: The Children'...",Music,Music,USD,2013-04-09,"3,750.00",2013-03-26 05:06:11,"4,593.00",successful,0,"N,0""",nan,"4,593.00","3,750.00"
17525,1088937473,Save Us From Ourselves,Music,Music,USD,2016-05-03,"5,000.00",2016-04-03 15:45:53,0.00,failed,0,"N,0""",nan,0.00,"5,000.00"
17563,108917939,Contrast Magazine,Publishing,Publishing,USD,2016-05-02,"7,500.00",2016-04-02 10:19:30,155.00,failed,0,"N,0""",nan,155.00,"7,500.00"
18716,109485541,The Gifted Journey,Publishing,Publishing,USD,2016-05-11,"1,200.00",2016-03-12 17:27:03,46.00,failed,0,"N,0""",nan,46.00,"1,200.00"
21385,110837091,Nathan Menard,Music,Music,USD,2016-05-07,"8,000.00",2016-03-28 20:38:22,"8,263.45",successful,0,"N,0""",nan,"8,263.45","8,000.00"
23172,1117631926,Jesse Henry's Desert Songwriting Sabbatical,Music,Music,USD,2016-04-25,"1,800.00",2016-04-10 18:54:35,"2,305.00",successful,0,"N,0""",nan,"2,305.00","1,800.00"
23936,1121497013,109: A Midwest Media Franchise,Music,Music,USD,2016-05-08,"3,500.00",2016-04-08 06:27:58,10.00,failed,0,"N,0""",nan,10.00,"3,500.00"
24079,1122231399,Fill Your Empty Practice!,Publishing,Publishing,GBP,2016-05-17,"2,000.00",2016-04-17 16:16:23,392.00,failed,0,"N,0""",nan,571.09,"2,913.71"
25975,1131956331,"Porter Band ""Make Jesus Famous"" Album Support",Music,Music,USD,2016-05-28,"6,000.00",2016-04-28 17:59:47,"6,010.00",successful,0,"N,0""",nan,"6,010.00","6,000.00"
32215,1163771028,Prince Rogers Nelson Memorial Music School,Music,Music,USD,2016-05-22,"5,000.00",2016-04-22 01:29:41,33.00,failed,0,"N,0""",nan,33.00,"5,000.00"
32500,1165084901,School for Classics Songwriting Workshop,Music,Music,USD,2016-05-22,"4,000.00",2016-04-22 01:05:30,"4,001.00",successful,0,"N,0""",nan,"4,001.00","4,000.00"
38162,1193593924,UNDERSTANDING PLYOMETRIC TRAINING,Publishing,Publishing,GBP,2016-04-29,"5,000.00",2016-02-29 10:29:25,7.00,failed,0,"N,0""",nan,10.23,"7,307.27"
42065,121413755,have you seen jordan?,Music,Music,USD,2016-06-22,"3,200.00",2016-04-23 06:19:25,0.00,canceled,0,"N,0""",nan,0.00,"3,200.00"
44594,1226622252,Documentary: A Child Of Their Own,Film & Video,Film & Video,USD,2016-05-13,"15,000.00",2016-04-28 11:28:39,0.00,canceled,0,"N,0""",nan,0.00,"15,000.00"
44765,1227315610,SourKoolaid,Music,Music,USD,2016-05-19,"5,000.00",2016-04-19 22:40:28,"6,093.69",successful,0,"N,0""",nan,"6,093.69","5,000.00"
44910,1228019792,Rock the Farmagain,Music,Music,USD,2016-06-01,"1,200.00",2016-05-04 03:31:24,"1,200.00",successful,0,"N,0""",nan,"1,200.00","1,200.00"
46952,1238892978,kopascetic - Ryan David Orr's 6th full-length ...,Music,Music,USD,2016-05-17,"3,500.00",2016-04-22 18:31:43,"3,700.00",successful,0,"N,0""",nan,"3,700.00","3,500.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
323142,715827259,Jes Spires Music Recording Project and Album R...,Music,Music,USD,2016-05-30,"2,000.00",2016-04-30 20:00:00,"2,060.00",successful,0,"N,0""",nan,"2,060.00","2,000.00"
324209,721338336,Applegate Trails Association Thru-Hike Film,Film & Video,Film & Video,USD,2016-05-21,"6,000.00",2016-04-21 05:30:46,"6,525.60",successful,0,"N,0""",nan,"6,525.60","6,000.00"
324244,721515702,Haze Gray Decks: Cards Against Humanity joins ...,Playing Cards,Games,USD,2016-06-14,"25,000.00",2016-04-30 07:18:48,"16,655.00",suspended,0,"N,0""",nan,"16,655.00","25,000.00"
324571,723130569,The Dream Room Project : A Solar Mobile Record...,Music,Music,USD,2016-04-29,"7,000.00",2016-03-30 20:14:45,"8,025.00",successful,0,"N,0""",nan,"8,025.00","7,000.00"
325711,728946373,Equipment funding for innovative sound-architect,Music,Music,DKK,2016-05-18,"15,000.00",2016-04-18 12:39:04,5.00,failed,0,"N,0""",nan,0.75,"2,262.82"
326852,73476382,Cabin Tapes Web Series: Vinyl Edition,Music,Music,USD,2016-05-11,"8,000.00",2016-04-11 13:53:47,"2,975.00",failed,0,"N,0""",nan,"2,975.00","8,000.00"
332040,761593352,Help Fund an Aspiring young Entrepreneur: #11 ...,Film & Video,Film & Video,AUD,2016-06-07,"4,500.00",2016-05-18 06:53:04,0.00,canceled,0,"N,0""",nan,0.00,"3,330.37"
338430,793819587,"Crystal Bowls, Mantra, and Meditation- Soulful...",Music,Music,USD,2016-04-25,"5,500.00",2016-03-25 06:44:28,"5,514.00",successful,0,"N,0""",nan,"5,514.00","5,500.00"
338481,794097378,The Order of the Four Circles: The Order Reborn,Publishing,Publishing,USD,2016-04-28,"5,000.00",2016-02-29 01:52:16,786.00,failed,0,"N,0""",nan,786.00,"5,000.00"
338549,794535445,NLRU,Music,Music,EUR,2016-05-08,"5,000.00",2016-04-08 20:13:05,0.00,failed,0,"N,0""",nan,0.00,"5,674.02"
340562,804655618,REAVES,Music,Music,USD,2016-05-27,"3,500.00",2016-04-12 22:06:19,701.00,failed,0,"N,0""",nan,701.00,"3,500.00"
341257,808183588,"Before the Bright Lights, Take Two!",Music,Music,USD,2016-05-28,"3,795.00",2016-05-20 21:01:56,"4,497.00",successful,0,"N,0""",nan,"4,497.00","3,795.00"
344315,823779197,Ever Heard the Contrabass Flute?,Music,Music,EUR,2016-05-07,"5,500.00",2016-04-07 23:24:41,"5,955.00",successful,0,"N,0""",nan,"6,757.75","6,241.42"
344755,826085967,We Are Mermaids,Film & Video,Film & Video,USD,2016-05-12,"1,500.00",2016-04-12 19:21:59,"1,500.00",successful,0,"N,0""",nan,"1,500.00","1,500.00"
345389,829428239,Red Alert Productions,Film & Video,Film & Video,USD,2016-07-07,"18,000.00",2016-05-08 07:47:51,0.00,canceled,0,"N,0""",nan,0.00,"18,000.00"
348821,84711701,Newburgh: Beauty and Tragedy,Film & Video,Film & Video,USD,2016-05-12,"7,500.00",2016-04-07 15:35:33,"7,623.00",successful,0,"N,0""",nan,"7,623.00","7,500.00"
350302,854648390,"Crystal Radio, Vinyl, Wooden Record, Playing C...",Music,Music,USD,2016-04-26,"6,500.00",2016-03-17 20:04:13,"8,889.00",successful,0,"N,0""",nan,"8,889.00","6,500.00"
356090,883814674,North Kent Radio,Music,Music,GBP,2016-04-23,750.00,2016-02-23 22:39:22,1.00,failed,0,"N,0""",nan,1.46,"1,096.09"
360017,904098650,The Original Human Diet Study by Dr. Mondovecchio,Food,Food,EUR,2016-06-20,"28,493.00",2016-05-17 13:26:09,239.00,canceled,0,"N,0""",nan,264.48,"31,530.32"
360465,906504187,The Springtails are making a new record!,Music,Music,USD,2016-05-31,"3,500.00",2016-05-01 19:40:30,"3,646.00",successful,0,"N,0""",nan,"3,646.00","3,500.00"
363806,923603114,The Bench- A Mental Health and Suicide Prevent...,Film & Video,Film & Video,EUR,2016-05-28,"1,500.00",2016-04-28 22:12:22,15.00,failed,0,"N,0""",nan,16.73,"1,673.10"
367884,944349765,WSU Chorale's 2013 Italy Concert Tour: An A Ca...,Music,Music,USD,2013-04-11,"2,500.00",2013-03-12 20:03:33,"2,780.00",successful,0,"N,0""",nan,"2,780.00","2,500.00"
368641,948175095,Typewriter John and the Blue Strings Debut EP,Music,Music,USD,2016-04-29,"2,500.00",2016-03-30 17:23:28,"2,560.00",successful,0,"N,0""",nan,"2,560.00","2,500.00"
368860,949209229,Be A Catalyst!!!! Help Casey Clark make a name...,Music,Music,USD,2016-05-24,"8,000.00",2016-03-25 03:54:04,"9,625.00",successful,0,"N,0""",nan,"9,625.00","8,000.00"
368889,949401487,A Taste of San Diego's Singer Songwriters,Music,Music,USD,2016-05-09,"7,500.00",2016-04-09 02:21:45,"1,408.00",failed,0,"N,0""",nan,"1,408.00","7,500.00"
371277,961951460,Jahque Inc. is merging with Reesi's Cakes 'N T...,Events,Food,USD,2016-05-05,"25,000.00",2016-04-05 06:01:09,0.00,live,0,"N,0""",nan,0.00,"25,000.00"
371387,962477474,Spoken Fruit Magazine,Print,Journalism,EUR,2016-04-28,"15,000.00",2016-03-29 16:02:57,"1,933.00",failed,0,"N,0""",nan,"2,204.21","17,104.54"
372375,967557880,Help Danelle Finish Her First EP Album,Music,Music,USD,2016-04-28,"3,500.00",2016-04-05 18:56:21,"3,686.00",successful,0,"N,0""",nan,"3,686.00","3,500.00"
375359,982919439,Faith,Film & Video,Film & Video,USD,2016-05-06,"9,000.00",2016-03-07 04:17:33,2.00,failed,0,"N,0""",nan,2.00,"9,000.00"
378188,997793413,Whisper Violet - Honors Senior Thesis Film,Film & Video,Film & Video,USD,2016-05-14,"2,000.00",2016-04-14 01:27:27,"2,300.00",successful,0,"N,0""",nan,"2,300.00","2,000.00"

In [82]:
temp.country.unique()

array(['N,0"'], dtype=object)

In [83]:
temp.backers.unique()

array([0])

In [89]:
temp.shape

(3797, 15)

In [97]:
temp_2 = ks_df.loc[ks_df['backers'] == 0]

In [95]:
ks_df.loc[ks_df['country'] == 'N,0"'].shape

(3797, 15)

In [99]:
ks_df_2 = ks_df.dropna()

In [100]:
ks_df_2.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,"1,000.00",2015-08-11 12:12:28,0.00,failed,0,GB,0.00,0.00,"1,533.95"
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,"30,000.00",2017-09-02 04:43:57,"2,421.00",failed,15,US,100.00,"2,421.00","30,000.00"
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,"45,000.00",2013-01-12 00:20:50,220.00,failed,3,US,220.00,220.00,"45,000.00"
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,"5,000.00",2012-03-17 03:24:11,1.00,failed,1,US,1.00,1.00,"5,000.00"
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,"19,500.00",2015-07-04 08:35:03,"1,283.00",canceled,14,US,"1,283.00","1,283.00","19,500.00"

In [101]:
ks_df_2.country.unique()

array(['GB', 'US', 'CA', 'AU', 'NO', 'IT', 'DE', 'IE', 'MX', 'ES', 'SE',
       'FR', 'NL', 'NZ', 'CH', 'AT', 'DK', 'BE', 'HK', 'LU', 'SG', 'JP'],
      dtype=object)